mixin styles(...styles)
	each css in styles
		link(rel="stylesheet", href=css)

mixin scripts(...scripts)
	each js in scripts
		script(src=js)

mixin description(desc)
	meta(name="description" content=desc)

mixin keywords(keys)
	meta(name="keywords" content=keys)

mixin list(heading, ...names)
	ul
		h5=heading
		each name in names 
			li
				a(href="#")=name

mixin content(h, head, ...p)
	if h
		#{h}=head
	else
		p=head
	each text in p
		p=text